---
import Layout from "../../layouts/Layout.astro";
import { Image } from 'astro:assets';

const books = [
    {
        src: "https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1539509558i/38530663.jpg",
        alt: "Frederick Douglass: Prophet of Freedom",
    },
    {
        src:"https://c.media-amazon.com/images/I/51l7V4G341L._SY445_SX342_.jpg",
        alt:"Children of Time"
    },
    {
        src:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmXx70ykpYjA3TnwXKDwYxiZb_USj8qt2LHQ&s",
        alt:"Play Nice"
    },
]

const games = [
    {
        src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTv1wjEAkSSL5p55TV2h13a23GT8v5Mt8uzQ&s",
        alt: "StarVaders",    
    },
    {
        src: "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQUCmfhJNu4ZIB-I7pdyNkykcWRFT4c8j5B--RoyyHjuaDZ05UAmOu2L6dsYSNZtyeg8uJc",
        alt: "Pizza Tower",    
    },
    {
        src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8CKh20gztPQ-bjHIY5fAD8Qa1BZusihQvfkocWEnzT2IUnkx4NEjcnIlEu1ST31RnCT_ecw",
        alt: "Shovel Knight",    
    },
    {
        src: "https://upload.wikimedia.org/wikipedia/en/5/51/Overwatch_cover_art.jpg",
        alt: "Overwatch",    
    },

    
]
---

<Layout title="About">
    <main>
        <h1>About</h1>

        <h2 class="text-3xl text-blue-100 font-semibold"> Interests </h2>
        <div class="my-10">
            <p class="text-2xl">Video games, books, cooking, watching sports (NFL, NBA), retrohandhelds, tinkering, VR, comedy</p>
            <br>
            <ul>
                <li> Though not necessarily an interest, I have recently started running/jogging with the Couch To 5K program</li>
            </ul>
        </div>
        

            <span class="my-6 text-blue-300 text-3xl">Currently Reading  </span>
            <div class="flex flex-row mx-24 my-10 ">

                {
                    books.map((book) => (
                        <div class="flex mx-3">
                            <Image src={book.src} alt={book.alt} height="200" width="200" />
                        </div>
                        ))
                }
             </div>
        <div>
            <span class="my-6 text-blue-300 text-3xl">Currently Playing  </span>
            <div class="flex flex-row flex-wrap mx-24 my-10 ">

                {
                    games.map(game => (
                        <div class="flex m-4">
                            <Image src={game.src} alt={game.alt} height="300" width="300" />
                        </div>
                        )
                    )
                }
             </div>
        </div>

    </main>

</Layout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1400px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>