---
import fetchApi from "../../lib/strapi";
import type Article from "../../interfaces/article";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";

import { marked } from "marked";

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: "articles",
    wrappedByKey: "data",
  });

  return articles.map((article) => ({
    params: { slug: article.attributes.slug },
    props: article,
  }));
}
type Props = Article;

const article = Astro.props;
---



<BlogPostLayout title={article.attributes.title}>
  <main class="m-auto text-white">
    <Fragment set:html={marked.parse(article.attributes.content)} />
  </main>
</BlogPostLayout>

<style>

</style>